@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-color: #fbbf24;

  --off-white: #fef3c7;

  --light-yellow: #fde68a;
}

body {
  background-color: #d1fae5;
  text-align: center;
}

input {
  padding: 1rem;
  width: 40%;
  border: solid 4px #059669;
  margin-top: 4rem;
}

.header {
  color: #047857;
  font-family: "Indie Flower", cursive;
  background-color: var(--primary-color);
  padding: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-top: 0rem;
}

h3 {
  padding-top: 2rem;
  font-family: "Indie Flower", cursive;
  color: #047857;
  font-size: 25px;
}

.Emoji {
  background-image: url(./emoji.png);
}

#output {
  color: #4f46e5;
  padding-top: 1rem;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}

.text {
  font-size: 30px;
}

.footer {
  color: #047857;
  font-family: "Indie Flower", cursive;
  background-color: var(--primary-color);
  padding: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
  font-size: 20px;
}
